<head>
    <link rel="stylesheet" href="index.css" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
</head>

<body>
  <header>
    <h1>The Carb Wizard</h1>
    <h2>What did you eat?</h2>
    <h5>(ie - a sandwich, 2 eggs, two slices of toast, and an apple)</h5>
  </header>
  
  <section class="form">
    <input type="text" id="serverInput" placeholder="List your food or meal items here...">
  </section>

<h4 class="carbHead">The total carbs for your entire meal is: <span id="display"></span></h4>

<script type="text/javascript" src="index.js"></script>
</body>